In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
s=pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates =pd.date_range('20200722',periods=6)

In [6]:
dates

DatetimeIndex(['2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25',
               '2020-07-26', '2020-07-27'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=['A','B','C','D'])

In [8]:
df

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358
2020-07-27  1.854471 -0.542992 -0.148964 -0.291622

In [9]:
df.head()

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358

In [11]:
df.index

DatetimeIndex(['2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25',
               '2020-07-26', '2020-07-27'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.values

array([[ 0.29161145,  1.26540792,  0.84735858,  0.60595617],
       [ 0.24891975,  2.44163969, -0.8521174 ,  0.30656422],
       [ 0.11249939, -1.59020463, -0.71208415,  0.0231004 ],
       [ 2.01441566,  0.96636528, -0.91318243,  1.50305968],
       [-1.11173585, -0.47625886, -0.00977878, -0.78335807],
       [ 1.85447124, -0.54299162, -0.14896409, -0.29162199]])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-07-22 to 2020-07-27
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.568364  0.343993 -0.298128  0.227283
std    1.179349  1.472219  0.674402  0.788623
min   -1.111736 -1.590205 -0.913182 -0.783358
25%    0.146604 -0.526308 -0.817109 -0.212941
50%    0.270266  0.245053 -0.430524  0.164832
75%    1.463756  1.190647 -0.044575  0.531108
max    2.014416  2.441640  0.847359  1.503060

In [16]:
df

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358
2020-07-27  1.854471 -0.542992 -0.148964 -0.291622

In [18]:
df['B']

2020-07-22    1.265408
2020-07-23    2.441640
2020-07-24   -1.590205
2020-07-25    0.966365
2020-07-26   -0.476259
2020-07-27   -0.542992
Freq: D, Name: B, dtype: float64

In [19]:
df[0:3]

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100

In [20]:
df[2:5]

                   A         B         C         D
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358

In [21]:
df['20200723':'20200726']

                   A         B         C         D
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358

In [22]:
aaaaa=df['20200723':'20200726']

In [23]:
df.loc[dates[0]]

A    0.291611
B    1.265408
C    0.847359
D    0.605956
Name: 2020-07-22 00:00:00, dtype: float64

In [24]:
dates[0]

Timestamp('2020-07-22 00:00:00', freq='D')

In [26]:
df.loc[:,['B','C']]

                   B         C
2020-07-22  1.265408  0.847359
2020-07-23  2.441640 -0.852117
2020-07-24 -1.590205 -0.712084
2020-07-25  0.966365 -0.913182
2020-07-26 -0.476259 -0.009779
2020-07-27 -0.542992 -0.148964

In [29]:
df.loc[:,'A':'C']

                   A         B         C
2020-07-22  0.291611  1.265408  0.847359
2020-07-23  0.248920  2.441640 -0.852117
2020-07-24  0.112499 -1.590205 -0.712084
2020-07-25  2.014416  0.966365 -0.913182
2020-07-26 -1.111736 -0.476259 -0.009779
2020-07-27  1.854471 -0.542992 -0.148964

In [30]:
df.loc['20200723':'20200726','B':'C']

                   B         C
2020-07-23  2.441640 -0.852117
2020-07-24 -1.590205 -0.712084
2020-07-25  0.966365 -0.913182
2020-07-26 -0.476259 -0.009779

In [32]:
df

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358
2020-07-27  1.854471 -0.542992 -0.148964 -0.291622

In [33]:
df.iloc[3:5,0:2]

                   A         B
2020-07-25  2.014416  0.966365
2020-07-26 -1.111736 -0.476259

In [34]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2020-07-23  0.248920 -0.852117
2020-07-24  0.112499 -0.712084
2020-07-26 -1.111736 -0.009779

In [35]:
df.iloc[:,1:3]

                   B         C
2020-07-22  1.265408  0.847359
2020-07-23  2.441640 -0.852117
2020-07-24 -1.590205 -0.712084
2020-07-25  0.966365 -0.913182
2020-07-26 -0.476259 -0.009779
2020-07-27 -0.542992 -0.148964

In [36]:
df

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358
2020-07-27  1.854471 -0.542992 -0.148964 -0.291622

In [37]:
df[df['A']>0]

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-27  1.854471 -0.542992 -0.148964 -0.291622

In [38]:
over_0_a=df[df['A']>0]

In [39]:
over_0_a

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-27  1.854471 -0.542992 -0.148964 -0.291622

In [40]:
df[df>0]

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640       NaN  0.306564
2020-07-24  0.112499       NaN       NaN  0.023100
2020-07-25  2.014416  0.966365       NaN  1.503060
2020-07-26       NaN       NaN       NaN       NaN
2020-07-27  1.854471       NaN       NaN       NaN

In [41]:
df2=df.copy()

In [42]:
df2

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358
2020-07-27  1.854471 -0.542992 -0.148964 -0.291622

In [43]:
df2['E']=['one','one','two','three','four','three']

In [44]:
df2

                   A         B         C         D      E
2020-07-22  0.291611  1.265408  0.847359  0.605956    one
2020-07-23  0.248920  2.441640 -0.852117  0.306564    one
2020-07-24  0.112499 -1.590205 -0.712084  0.023100    two
2020-07-25  2.014416  0.966365 -0.913182  1.503060  three
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358   four
2020-07-27  1.854471 -0.542992 -0.148964 -0.291622  three

In [45]:
df2['E'].isin(['two','four'])

2020-07-22    False
2020-07-23    False
2020-07-24     True
2020-07-25    False
2020-07-26     True
2020-07-27    False
Freq: D, Name: E, dtype: bool

In [46]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2020-07-24  0.112499 -1.590205 -0.712084  0.023100   two
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358  four

In [47]:
twofour_in=df2[df2['E'].isin(['two','four'])]

In [48]:
twofour_in

                   A         B         C         D     E
2020-07-24  0.112499 -1.590205 -0.712084  0.023100   two
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358  four

In [49]:
df

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358
2020-07-27  1.854471 -0.542992 -0.148964 -0.291622

In [50]:
df.apply(np.cumsum)

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.540531  3.707048 -0.004759  0.912520
2020-07-24  0.653031  2.116843 -0.716843  0.935621
2020-07-25  2.667446  3.083208 -1.630025  2.438680
2020-07-26  1.555710  2.606949 -1.639804  1.655322
2020-07-27  3.410182  2.063958 -1.788768  1.363700

In [51]:
df.apply(lambda x: x.max()-x.min())

A    3.126152
B    4.031844
C    1.760541
D    2.286418
dtype: float64

In [52]:
df

                   A         B         C         D
2020-07-22  0.291611  1.265408  0.847359  0.605956
2020-07-23  0.248920  2.441640 -0.852117  0.306564
2020-07-24  0.112499 -1.590205 -0.712084  0.023100
2020-07-25  2.014416  0.966365 -0.913182  1.503060
2020-07-26 -1.111736 -0.476259 -0.009779 -0.783358
2020-07-27  1.854471 -0.542992 -0.148964 -0.291622

In [53]:
df.apply(lambda x: x.max()-x.min())

A    3.126152
B    4.031844
C    1.760541
D    2.286418
dtype: float64